<h1><%= t('order.grid_title') %></h1>

<%= link_to t('order.new'), new_order_path %>
<br>

<%= grid(@orders_grid, show_filters: :when_filtered, hide_submit_button: true) do |g|

  g.column :name => t('order.product'), :attribute => 'preview_file_name', :model => Product, :filter => false do |order|
    link_to (image_tag Product.find(order.product_id).preview.url(:thumb)), edit_order_path(order)
  end

  g.column :name => t('customer.weibo'), :attribute => 'weibo', :model => Customer, auto_reload:  true do |order|
    Customer.find(order.customer_id).weibo
  end

  g.column :name => t('order.color'), :attribute => 'color', auto_reload:  true do |order|
    order.color
  end

  g.column :name => t('order.size'), :attribute => 'size', auto_reload:  true  do |order|
    order.size
  end

  g.column  :name => t('order.state'), :attribute => 'state', :custom_filter => State.select_options, auto_reload:  true do |order|
    order.state.text
  end

  g.column  :name => t('order.price'), :attribute => 'price', auto_reload:  true do |order|
    order.price
  end

  g.column  :name => t('order.purchase_price'), :attribute => 'purchasepri', auto_reload:  true do |order|
    order.currency.to_symbol + order.purchasepri.to_s
  end

  g.column  :name => t('order.deposit'), :attribute => 'deposit', auto_reload:  true do |order|
    order.deposit
  end

  g.column  :name => t('order.comments'), :attribute => 'comments', auto_reload:  true do |order|
    order.comments
  end

  g.column :name => t('employee.nick'), :attribute => 'nick', :model => Employee, auto_reload:  true do |order|
    Employee.find(order.employee_id).nick
  end

  g.column   do |order|
    link_to t('destroy'), order, method: :delete, data: { confirm: t('delete_confirm') }
  end
end -%>